
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/queueProject.iml
.idea/workspace.xml
*.iml
*.xml
bin/
pkg/
vendor/
main/Godeps
.idea/dictionaries/
.idea/inspectionProfiles/
projectFilesBackup/
file_read_analysis/result.txt
.project
